.opacitymax {
  opacity: 1 !important;
}
.hidden {
  display: none !important;
}
.top-hide {
  transform: translateX(-100%);
}
.error-border {
  border: 1px solid $redberryred !important;
}
.error-span {
  color: $redberryred;
  font-style: italic;
  font-family: $montserratreg;
  font-size: 12px;
  width: 455px;
  padding-left: 57px;
}
@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
main {
  section.homepage {
    background-color: black;
    background-image: url(../../assets/images/stars.png);
    background-size: cover;
    height: 100vh;
    .first-wrapper {
      padding-top: 100px;
      margin: 0 auto;
      max-width: 1090px;
      width: 100%;
      @include flex-fd-jc-ai(column, center, center);
      h1 {
        color: $redberryred;
        font-size: 96px;
        line-height: 119px;
        font-family: $rowdiesreg;
        text-transform: capitalize;
      }
      .start-btn {
        background-color: $redberryred;
        padding: 20px 65px;
        border-radius: 50px;
        color: $white;
        text-transform: capitalize;
        margin-top: 105px;
        margin-bottom: 40px;
        font-family: $montserratlight;
        font-size: 24px;
        font-style: normal;
        line-height: 29px;
      }
      .submitted-app {
        text-decoration: underline;
        text-transform: capitalize;
        font-size: 24px;
        color: $white;
        font-family: $montserratlight;
      }
    }
  }
  .personal-information {
    background-color: $darkbg;
    .submit-page {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      background-color: $darkbg;
      @include flex-fd-jc-ai(column, center, center);
      z-index: 9;
      .submit {
        text-transform: capitalize;
        color: $white;
        background-color: $redberryred;
        border-radius: 50px;
        font-family: $montserratlight;
        font-size: 36px;
        margin-bottom: 40px;
        border: none;
        padding: 16px 131px;
      }
      .goback {
        color: $white;
        text-decoration: underline;
        font-size: 28px;
        font-family: $montserratlight;
      }
    }
    .group {
      @include flex-jc-ai(center, flex-start);
      .personal-left {
        background-color: $white;
        width: 50%;
        padding-top: 130px;
        min-height: 100vh;
        .personal-left-inner {
          @include flex-fd-jc-ai(column, center, center);
          .grouped-left {
            transform-origin: top;
            animation: animate 0.5s;
            @include flex-fd-jc-ai(column, center, center);
            h2 {
              font-family: $rowdiesreg;
              font-size: 64px;
              line-height: 79px;
              color: $redberryred;
              margin-bottom: 100px;
              max-width: 790px;
              width: 100%;
              text-align: center;
            }
            .collect-inputs {
              @include flex-fd-jc-ai(column, center, center);
              .about-inner {
                width: 645px;
                textarea {
                  width: 535px;
                  border: 1px solid $darkbg;
                  resize: none;
                  padding: 24px 0 0 23px;
                  font-family: $montserratreg;
                  font-size: 13px;
                }
                .radio-label {
                  margin-bottom: 20px;
                  @include flex-ai(center);
                  padding-left: 10px;
                  label {
                    font-family: $montserratreg;
                    font-size: 14px;
                    text-transform: capitalize;
                    margin-left: 10px;
                  }
                }
                p:not(.q-5) {
                  font-family: $montserratreg;
                  font-size: 18px;
                  color: #000;
                  margin-bottom: 30px;
                  margin-top: 50px;
                }
                .q-5 {
                  font-family: $montserratreg;
                  font-size: 18px;
                  color: #000;
                  margin-bottom: 30px;
                }
              }
              .covid-inner {
                width: 645px;
                input[type="date"]::-webkit-calendar-indicator {
                  opacity: 0;
                }
                .radio-label {
                  margin-bottom: 20px;
                  @include flex-ai(center);
                  padding-left: 10px;
                  label {
                    font-family: $montserratreg;
                    font-size: 14px;
                    text-transform: capitalize;
                    margin-left: 10px;
                  }
                }
                p:not(.q-1) {
                  font-family: $montserratreg;
                  font-size: 18px;
                  color: #000;
                  margin-bottom: 30px;
                  margin-top: 50px;
                }
                .q-1 {
                  font-family: $montserratreg;
                  font-size: 18px;
                  color: #000;
                  margin-bottom: 30px;
                }
              }
              .add-lang-btn {
                font-family: $montserratlight;
                font-size: 12px;
                text-transform: capitalize;
                padding: 7px 9px;
                color: $white;
                background-color: $redberryred;
                border: none;
                margin-bottom: 55px;
                cursor: pointer;
                align-self: flex-end;
              }
              .added-skill {
                transform-origin: top;
                animation: animate 0.5s;
                border: 1px solid $bordergray;
                padding: 12px 15px;
                @include flex-jc-ai(space-between, center);
                width: 455px;
                height: 54px;
                font-family: $montserratlight;
                font-size: 14px;
                font-style: italic;
                color: #000;
                margin-bottom: 7px;
                .remove-skill {
                  cursor: pointer;
                }
              }

              input:not([type="radio"]),
              select {
                appearance: none;
                width: 455px;
                height: 54px;
                border: 1px solid $bordergray;
                padding: 17px 10px 13px 57px;
                margin-bottom: 7px;
                margin-top: 37px;
                &::placeholder {
                  color: $placeholdergray;
                  font-family: $montserratlight;
                  font-style: italic;
                  font-size: 14px;
                  line-height: 17px;
                }
                option {
                  color: $placeholdergray;
                  font-family: $montserratlight;
                  font-style: italic;
                  font-size: 14px;
                  line-height: 17px;
                  width: 455px;
                }
              }
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                appearance: none;
              }
              select {
                cursor: pointer;
              }
            }
          }
          .pagination {
            margin-top: 138px;
            margin-bottom: 50px;
            @include flex-jc-ai(center, center);
            span {
              cursor: pointer;
              width: 19px;
              height: 19px;
              background-color: $redberryred;
              opacity: 0.1;
              margin-left: 15px;
              border-radius: 50%;
            }
            .prev {
              cursor: pointer;
              margin-right: 3px;
            }
            .next {
              cursor: pointer;
              margin-left: 18px;
            }
          }
        }
      }
      .personal-right {
        height: 100vh;
        padding: 130px 0 0 130px;
        width: 50%;
        .personal-right-inner {
          transform-origin: top;
          animation: animate 0.5s;
          max-width: 790px;
          width: 100%;
          @include flex-fd-jc-ai(column, center, flex-start);
          h2 {
            font-family: $rowdiesreg;
            font-size: 64px;
            line-height: 79px;
            color: $redberryred;
            margin-bottom: 150px;
            text-transform: capitalize;
          }
          p {
            font-family: $montserratlight;
            font-size: 24px;
            line-height: 48px;
            color: $white;
          }
        }
      }
    }
  }
  section.thanks {
    background-color: $darkbg;
    width: 100%;
    height: 100vh;
    @include flex-jc-ai(center, center);
    h2 {
      color: $redberryred;
      font-family: $rowdiesbold;
      font-size: 64px;
      font-weight: bolder;
    }
  }
  section.submitted {
    background-color: $darkbg;
    @include flex-fd-jc-ai(column, flex-start, center);
    min-height: 100vh;
    height: 100%;
    h2 {
      font-family: $rowdiesreg;
      font-size: 56px;
      color: $white;
      line-height: 70px;
      margin-top: 110px;
      margin-bottom: 70px;
    }
    .application {
      width: 1155px;
      .collect-each-row {
        margin-bottom: 10px;
        .app-row {
          @include flex-jc-ai(space-between, center);
          padding: 23px 20px;
          background-color: $redberryred;
          .numberofapp {
            color: $white;
            font-family: $montserratreg;
            font-size: 14px;
          }
        }
        .app-content {
          padding: 40px 70px 0 130px;
          @include flex-jc(space-between);
          flex-wrap: wrap;
          background-color: $white;
          width: 100%;
          .block {
            width: 450px;
            margin-bottom: 80px;
            h3 {
              font-family: $montserratreg;
              color: $redberryred;
              font-size: 18px;
              text-decoration: underline;
              text-transform: capitalize;
              font-style: italic;
              margin-bottom: 55px;
            }
            .block-collect-info {
              h4 {
                font-family: $montserratreg;
                font-size: 12px;
                font-style: italic;
                color: #000;
                width: 90px;
                text-transform: capitalize;
              }
              span {
                font-family: $montserratreg;
                font-size: 14px;
                font-style: italic;
                color: #000;
                margin-left: 70px;
              }
              div {
                display: flex;
                margin-bottom: 35px;
              }
              p {
                font-family: $montserratreg;
                font-size: 18px;
                color: #000;
                font-style: normal;
                margin-bottom: 17px;
              }
              p:not(first-child) {
                margin-top: 65px;
              }
              .answer-1,
              .answer-2,
              .answer-3,
              .answer-4 {
                display: flex;
                margin-left: 15px;
                margin-bottom: 20px;
                img {
                  margin-right: 10px;
                }
                span {
                  margin-left: 0;
                }
              }
              .covid-had-date,
              .covid-vaccine-date {
                span {
                  margin-left: 0;
                  font-family: $montserratreg;
                  font-style: italic;
                  color: $placeholdergray;
                }
                width: 350px;
                @include flex-jc-ai(space-between, center);
                padding: 15px 16px 15px 55px;
                border: 1px solid $bordergray;
              }
              .textarea-result-devtalk,
              .textarea-result-smth {
                min-height: 120px;
                max-width: 430px;
                padding: 24px 20px 0 24px;
                border: 1px solid $bordergray;
                p {
                  margin-top: 0;
                  font-family: $montserratreg;
                  color: $placeholdergray;
                  font-size: 13px;
                }
              }
            }
          }
        }
      }
    }
  }
}
