// Colors
$redberryred: #fe3b1f;
$white: #ffffff;
$bordergray: #525557;
$placeholdergray: #454545;
$darkbg: #0c0d0e;

// Fonts
$rowdiesbold: "Rowdies-Bold";
$rowdiesreg: "Rowdies-Regular";
$rowdieslight: "Rowdies-Light";
$montserratreg: "Montserrat-Regular";
$montserratlight: "Montserrat-Light";
